<h1></h1>
<% if @user.errors.any? %>
  <%= @user.errors.count %>件のerrorが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h2>プロフィール</h2>
  <%= form_with model: @user, local: true do |f| %>
  <br>
  <h4>なまえ</h4>
  <%= f.text_field :name %>
  <br>
  <h4>しゃしん</h4>
  <%= f.attachment_field :user_image %>
  <br>
  <h4>さえずり</h4>
  <%= f.text_area :introduction %>
  <br>
  <br>
  <%= f.submit '羽繕い完了' %>
  
  <% end %>

 
  
  <br>
  <p><%= link_to "巣立ち（退会）", users_check_path %></p>

   </div>
  </div>

 </div>
