<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 <div class="container px-5 px-sm-0">
  <div class="row">
<h2>♡文鳥ファンのみなさま♡</h2>

<table class="table table-hover table-striped">
 
 <div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="post-list">
  <% @users.each do |user| %>
   
  <% end %>
</div>

 <thead>
  <tr>
   <th></th>
   <th>なまえ</th>
   <th>さえずり</th>
  </tr>
 </thead>

   <tbody>
    <% @users.each do |user| %><tr>
     <td><%= attachment_image_tag user, :user_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %></td>

      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
      <td>
    <!--% if user.id != current_user.id %>-->
    <!--     % if current_user.following? %>-->
    <!--      %= link_to "フォローを外す", user_relationships_path(user.id), method: :delete %>-->
    <!--     % else %>-->
    <!--      %= link_to "フォローする", user_relationships_path(user.id), method: :post %>-->
    <!--     % end %>-->
    <!--    % end %>-->
      </td>
      <td>
       <span>
        <%= link_to "見にいく！", "/users/#{user.id}", class: "moe-btn"  %>
       </span>
      </td>
     </tr>
     <% end %>

    </tbody>
　</table>
      <%= paginate @users %>
    </div>
   </div>
  </div>
 
</div>