<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-4">
     <h2 class= text-center>♡とまりぎ♡</h2>
      <div class = text-center>
       <%= attachment_image_tag @user, :user_image, format: 'jpeg', fallback: "no_image.jpg", class: "user-index-image" %>
      </div>
        <table class="table">
         <tbody>
           <tr></tr>
            <tr>
  	         <th>なまえ</th>
  	          <br>
  	          <th><%= @user.name %></th>
           </tr>
           <tr>
  	        <th>さえずり</th>
  	        </tr>
  	        <br>
  	        <tr>
  	        <td colspan="2"><%= @user.introduction %></th>
           </tr>
           <tr>
            <th width="135">♡追っかけ中♡</th>
             <td>
              <%= link_to user_relationship_follow_path(@user) do %>
              <%= @user.followings.count %>
              <% end %>
             </td>
           </tr>
            <th>♡ファン♡</th>
            <td>
              <%= link_to user_relationship_follower_path(@user) do %>
              <%= @user.followers.count %>
              <% end %>
            </td>
          <tr>
            <td>
             <% if @user.id != current_user.id %>
              <% if current_user.following?(@user) %>
               <%= link_to "放っておく", user_relationships_path(@user.id), method: :delete, class: "nae-btn" %>
              <% else %>
               <%= link_to "追っかける", user_relationships_path(@user.id), method: :post, class: "moe-btn" %>
              <% end %>
             <% end %>
           </td>
         </tr>

      </tbody>
     </table>

   <div class="row">
    <% if @user.id == current_user.id %> 
     <div class="btn-wrapper col-10 mx-auto">
       <div class = text-center>
        <%= link_to  "羽繕い",edit_user_path(@user.id), class: "moe-btn btn-block btn-sm btn-block mb-3 fas fa-feather" %>
       </div>
     </div>
    <% end %>
   </div>
  </div>

 <!--右側-->
      <div class="col-md-8">
        <h2>文鳥との日々</h2>
          <table class="table table-hover table-inverse">
           <thead>
            <tr>
            
             <th>♡文鳥♡</th>
             <th>エピソード</th>
             <th>♡</th>
             <th><i class="far fa-comment-dots"></i></th>
            
            </tr>
           </thead>
       <tbody>
        <% @posts.each do |post| %><tr>

            <td><%= link_to post_path(post) do %>
                <%= attachment_image_tag post, :post_image, size: "200x180", format: 'jpeg', fallback: "no_image.jpg", class: "user-show-image" %>
                <% end %>
            </td>

            <td class="post-column" style="vertical-align: middle;"><%= post.post_detail %></td>
            
            <td class="ud-middle" style="vertical-align: middle;">♡<%= post.likes.count %>
            <br>♥<%= post.kawaiis.count %>♥</td>
            
            <td class="ud-middle" style="vertical-align: middle;"><%= post.comments.count %></td>

          </tr>
           <% end %>

       </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
</div>