<div class="comments">
 <p>コメント件数：<%= post.comments.count %></p>
 <% post.comments.each do |comment| %>
  <p><%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br></p>
   <%= comment.user.name %>
   <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
   <% if comment.user == current_user %>
   <div class="comment-delete">
     <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true%>
   </div>
   <% end %>
 <% end %>
</div>