<% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this user from
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

  <div class="container">
    <div class="row">
     <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>羽繕い</h2>

        <%= form_with model: @post, url:"/posts/#{@post.id}", local:true do |f| %>

      <div class="form-group">

           <%= f.label:title,"しゃしん" %>
           <br>
           <%=f.attachment_field :post_image %>

        </div>
        
        <div class="form-group">
         <%= f.label :pose_detail,"エピソード" %>
         <br>
         <%= f.text_area :post_detail, size: "30x10",class:"form-control" %>
      </div>
         <br>
           <%= f.submit '羽繕い完了',class:"moe-btn" %>

           <br>
           <%= link_to "もどる", post_path(@post.id), class: "nae-btn" %>
        <% end %>
      </div>
    </div>
  </div>