<h1>All Posts投稿一覧</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <h2>posts</h2>


 <table class="table table-hover table-inverse">

   <thead>
     <tr>
      <th>User</th>
      <th>Photo</th>
      <th class="title-left">Column</th>
      <th>Kawaii</th>
      <th>comment</th>
     </tr>
   </thead>

    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td>
             <%= link_to user_path(post.user) do %>
             <%= attachment_image_tag post.user, :user_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %>
             <% end %>
            </td>
            <td>
             <%= link_to post_path(post) do %>
              <%=  attachment_image_tag post, :post_image, size: "300x200", format: 'jpeg', fallback: "no_image.jpg"  %>
             <% end %>
            </td>   
            <td class="post-column"><%= post.post_detail %></td>
            <td>
              <% if post.user.id != current_user.id %> 
              <div id="likes_buttons_<%= post.id %>">
               <%= render 'likes/like', post: post %>
              </div>
              <% else %>
              <p><%= post.likes.count %></p>
              <% end %>
            </td>
           <td><%= post.comments.count %></td>
        <!--</tr>-->
        <% end %>

    </tbody>
</table>

    </div>
  </div>
</div>