<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <h2>♡かわいい文鳥たち♡</h2>
    <div class="search-form" style = "margin-left: 25%;">
      <%= form_with url: posts_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "見たい！", class: "moe-btn"%>
      <% end %>
    </div>
<div class="table-responsive">
 <table class="table table-hover table-striped">
   <thead>
     <tr>
      <th nowrap style="width:10%;">ごしゅじん</th>
      <th nowrap style="width:30%;">♡ぶんちょう♡</th>
      <th nowrap style="width:35%;">♡文鳥とのおもいで♡</th>
      <th nowrap style="width:20%;">♡♥♡♥♡♥♡♥♡♥</th>
      <th nowrap style="width:5%;"><i class="far fa-comment-dots"></i></th>
     </tr>
   </thead>

    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td class="ud-middle" style="vertical-align: middle;">
             <%= link_to user_path(post.user) do %>
             <%= attachment_image_tag post.user, :user_image, format: 'jpeg', fallback: "no_image.jpg", class: "user-post-index-image", style:"width:100%" %>
             <% end %>
            </td>
            
            <td class="ud-middle" style="vertical-align: middle;">
             <%= link_to post_path(post) do %>
              <%=  attachment_image_tag post, :post_image, format: 'jpeg', fallback: "no_image.jpg", class: "post-index-image", style:"width:100%" %>
             <% end %>
            </td>   
            
            <td class="post-column text-break", style="vertical-align: middle;"><%= post.post_detail %>
            <br><br>
             <span class="sentiment-score">本文の感情分析スコア<%= post.score %></span>
            </td>
            
            <td class="ud-middle" style="vertical-align: middle;">
              <% if post.user.id != current_user.id %> 
              <div id="likes_buttons_<%= post.id %>">
               <%= render 'likes/like', post: post %>
              </div>
              <% else %>
              <div>♥<%= post.likes.count %>いいね</div>
              <% end %>
              
              <div id="kawaii_buttons_<%= post.id %>">
              <%= render 'kawaiis/kawaii', post: post %>
              </div>
            </td>
            
           <td class="ud-middle" style="vertical-align: middle;"><%= post.comments.count %></td>
        <!--</tr>-->
        <% end %>

     </tbody>
    </table>
   </div>
   <%= paginate @posts %>
  </div>
</div>