<% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this user from
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container px-5 px-sm-0">

<h1>New Post</h1>


<div class="img_field">
 <%= form_with model: @post,url: posts_path,local:true do |f| %>
  <dt><%= f.label :Photo,class: "control-label"  %></dt>
  <dd><%=f.attachment_field :post_image %></dd>
  <div class="group">
        <dt><%= f.label :Column,class: "control-label" %></dt>
        <dd><%= f.text_area :post_detail %></dd>
        <center><%= f.submit "Post" %></center>
  </div>
  <% end %>
 </div>
</div>

<!--<h2 class="mt-3">New book</h2>-->
<!--<= form_with model:Book.new, local:true do |f| %>-->
<!--  <h4>Title</h4>-->
<!--  %= f.text_field :title %>-->
<!--  <h4>Opinion</h4>-->
<!--  %= f.text_area :body %>-->
<!--  <= f.submit 'Create Book' %>-->
<!--< end %>-->
