<h1>Post Detail</h1>
<div class="container px-1 px-sm-0">
 <div class="row">
   <div class="col-md-5">
    <%= attachment_image_tag @post, :post_image, size: "500x400", format: 'jpeg' %>
   </div>
   <br>
   
     <div id="likes_buttons_<%= @post.id %>">
      <%= render 'likes/like', post: @post %>
　　 </div>
   <div class="row">      
      <div class="col-md-5">
           <h2>Column</h2><thead>
            <br>
             <%= @post.post_detail %>
            <br>
             <% if @user.id == current_user.id %>
              <td><%= link_to "Edit", "/posts/#{@post.id}/edit" %></td>
              <td><%= link_to "Destroy", "/posts/#{@post.id}",method: :delete %></td>
             <% end %>
           <br>
            
       </tbody>
      </table>
    </div>
   </div>
  </div>
</div>



