<header>
  <!--<nav class="navbar navbar-expand-lg navbar-dark">-->
    <div class="container">
    
    
    <nav class="navbar navbar-expand-md navbar-dark bg-hotpink ml-auto">
        <div class="navbar-brand">
          <% if user_signed_in? %>
            <%= link_to image_tag("logo.jpg", size: "180x80" ), user_path(current_user) %>
          <% elsif admin_signed_in? %>
            <%= image_tag("logo.jpg", size: "180x80") %>
          <% else %>
            <%= link_to image_tag("logo.jpg", size: "180x80" ), root_path %>
          <% end %>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarToggleExternalContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        
          <li class="nav-item"><%= link_to '巣箱',user_path(current_user),class: 'fas fa fa-home nav-link text-light' %></li>
          <li class="nav-item"><%= link_to '文鳥自慢',new_post_path ,class: 'fas fa-grin-beam nav-link text-light'%></li>
          <li class="nav-item"><%= link_to '文鳥仲間',users_path ,class: 'fas fa-users nav-link text-light' %></li>
          <li class="nav-item"><%= link_to '文鳥写真',posts_path ,class: 'fas fa-solid fa-images nav-link text-light'%></li>
          <li class="nav-item"><%= link_to 'とびたつ', destroy_user_session_path, method: :delete ,class: 'fas fa-solid fa-dove nav-link text-light' %></li>

        <% elsif admin_signed_in? %>
        
          <li class="nav-item"><%= link_to ' Users',admins_users_path,class: 'fas fa-users nav-link text-light' %></li>
          <li class="nav-item"><%= link_to ' Posts',admins_posts_path ,class: 'fas fa-solid fa-images nav-link text-light'%></li>
          <li class="nav-item"><%= link_to ' Log Out', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
       
        <% else %>
          <li class="nav-item"><%= link_to ' いりぐち',root_path,class: 'fas fa-door-closed nav-link text-light' %></li>
          <li class="nav-item"><%= link_to ' さえずり',home_about_path,class: 'fas fa-feather-alt nav-link text-light' %></li>
          <li class="nav-item"><%= link_to ' 巣箱へ', new_user_session_path ,class: 'fas fa-home nav-link text-light'%></li>
          <li class="nav-item"><%= link_to ' 仲間になる', new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>
        <% end %>
        </ul>
      </div>
    </nav>
  <!--</nav>-->
</header>